body {
	background: #C2AD99;
}

div {
	display: inline-block;
}

#stories {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.story-container {
	width: 200px;
	height: 290px;
	padding: 5px 5px;
	margin: 10px 10px;
	background: white;
	vertical-align: top;
}

.user-image img{
	width: 100%;
	height: 100%;
}