body {
	background: #C2AD99;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}

div {
	display: inline-block;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#stories {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.story-container {
	width: 200px;
	height: 340px;
	margin: 10px 10px;
	vertical-align: top;
	background: white;
	border-radius: 25px 25px 0 0;
}

.user-image {
	width: 200px;
	height: 200px;
}

.user-image img{
	width: 100%;
	height: 100%;
	border-radius: 25px 25px 0 0;
}

.user-info {
	margin-top: -5px;
	padding: 5px 5px;
	text-align: left;
	background: white;
	height: 110px;
}

.headline {
	font-weight: bold;
}

.author {
	display: block;
}

.like-container {
	width: 100%;
	line-height: 10px;
}

.heart {
	color: #A82C2B;
}

.like {
	width: 69%;
}

.discuss {
	outline: 0;
	border: 1px solid grey;
	background: #337ab7;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	border-radius: 5px;
}

.discuss:hover {
	cursor: pointer
}

.date {
	line-height: 10px;
}

